@{
    ViewData["Title"] = "Customer";
}

<h1>@ViewData["Title"]</h1>

<!--ADD Customer FORM-->
<div class="row justify-content-start">
    <div class="col-md-6">
        <div class="card-body">
            <form id="productForm" enctype="multipart/form-data" class="form-horizontal">
                <div class="row">
                    <!-- First Name -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="FirstName">First Name: </span>
                        <input class="form-control" type="text" id="FirstName" name="FirstName" required />
                    </div>
                    <br />
                    
                    <!-- Last Name -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="LastName">Last Name: </span>
                        <input class="form-control" type="text" id="LastName" name="LastName" required />
                    </div>
                    <br />

                    <!-- Email -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="Email">Email: </span>
                        <input class="form-control" type="email" id="Email" name="Email" required/>
                    </div>
                    <br />

                    <!-- Phone Number-->
                    <div class="input-group">
                        <span class="input-group-text" for="Phone">Phone No: </span>
                        <input class="form-control" type="tel" id="Phone" name="Phone" pattern="[0-9]{3}-[0-9]{8}" required/>
                    </div>
                    <div class="form-text">Format: xxx-xxxxxxxx</div>
                    <br />

                    <!-- Address -->
                    <div class="input-group mt-3 mb-3">
                        <span class="input-group-text" for="Address">Address: </span>
                        <textarea class="form-control" type="text" id="Address" name="Address" required></textarea>
                    </div>
                    <br />

                    <!-- City -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="City">City: </span>
                        <input class="form-control" type="text" id="City" name="City" required />
                    </div>
                    <br />

                    <!-- Country -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="Country">Country: </span>
                        <input class="form-control" type="text" id="Country" name="Country" required />
                    </div>
                    <br />

                    <!-- Add Button -->
                    <div class="d-flex justify-content-between">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button id="customerSubmitButton" type="button" class="btn btn-primary">Add Customer</button>
                        </div>
                        <div class="justify-content-center">
                            <h3 id="message" class="badge text-bg-dark"></h3>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br />

<!--Customers TABLE-->
<div class="mb-5">
    <div class="row justify-content-start">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2>Customers List</h2>

                    <table id="customerTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Customer Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Country</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dynamically add the data here by ajax-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<!--Update Modal -->
<div class="modal fade" id="cusUpdateModal" tabindex="-1" aria-labelledby="cusUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cusUpdateModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- Modal body will be populated dynamically -->
            </div>
            <div class="modal-footer" id="modalFooter">
            </div>
        </div>
    </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="cusDeleteModal" tabindex="-1" aria-labelledby="cusDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cusDeleteModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="dmodalBody">
                <!-- Modal body will be populated dynamically -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="cusModalDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>
