@model IEnumerable<CRUD_Training.Models.ProductModel>

@{
    ViewData["Title"] = "Products";
}

<!--ADD PRODUCT FORM-->
<div class="row justify-content-start">
    <div class="col-md-12">
        @* <div class="card"> *@
        @* <h5 class="card-header text-center">CRUD APPLICATION</h5> *@
        <div class="card-body">
            <h2 class="card-title text-start mb-2">Add Products</h2>
            <form id="productForm" enctype="multipart/form-data" class="form-horizontal">
                <div class="row">
                    <div class="row">
                        <div class="col">
                            <!-- Product Name -->
                            <div class="input-group has-validation" id="productNameDiv">
                                <span class="input-group-text" for="ProductName" id="inputGroupPrepend3">Product Name: </span>
                                <input class="form-control" type="text" id="ProductName" name="ProductName" aria-describedby="inputGroupPrepend3 validationProductName" required />
                                <div id="validationProductName" class="invalid-feedback">
                                    Please enter product name.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Product Price -->
                            <div class="input-group" id="productPriceDiv">
                                <span class="input-group-text" for="ProductPrice">Product Price: </span>
                                <input class="form-control" type="number" id="ProductPrice" name="ProductPrice" required />
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <!-- Product Description -->
                        <div class="input-group" id="productDescDiv">
                            <span class="input-group-text" for="Description">Description: </span>
                            <textarea class="form-control" type="text" id="Description" name="Description" rows="1" required></textarea>
                        </div>
                    </div>

                    

                    <div class="row mt-3">
                        <div class="col">
                            <!-- Product Quantity -->
                            <div class="input-group" id="productQuantityDiv">
                                <span class="input-group-text" for="Quantity">Quantity </span>
                                <input class="form-control" type="number" id="Quantity" name="Quantity" required />
                            </div>
                        </div>
                        <div class="col">
                            <!-- Product Image -->
                            <div class="input-group">
                                <label class="input-group-text" for="formFile">Product Image: </label>
                                <input class="form-control" type="file" id="ProductImg" name="ProductImgFile" accept=".png, .jpg, .jpeg" required />
                            </div>
                        </div>
                    </div>

                    <!-- Add Button -->
                    <div class="d-flex justify-content-between mt-3">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button id="submitButton" type="button" class="btn btn-primary">Add Product</button>
                        </div>
                        <div class="justify-content-center">
                            <h3 id="message" class="badge text-bg-dark"></h3>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @* </div> *@
    </div>
</div>
<br />

<!--PRODUCT TABLE-->
<div class="mb-5">
    <div class="row justify-content-start">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2>Products List</h2>

                    <table id="productsTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Product Id</th>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Product Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dynamically add the data here by ajax-->
                        </tbody>
                        @* -----------Previous Way of Showing Data when using Server Side Request--------- *@
                        @* @foreach (var item in Model)  *@
                        @* {  *@
                        @*     <tr> *@
                        @*         <td>@item.ProductID</td>  *@
                        @*         <td>@item.ProductName</td>  *@
                        @*         <td>@item.ProductPrice</td>  *@
                        @*     </tr>  *@
                        @* } *@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<!--Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- Modal body will be populated dynamically -->
            </div>
            <div class="modal-footer" id="modalFooter">
                @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="modalUpdateButton">Save changes</button> *@
            </div>
        </div>
    </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="dmodalBody">
                <!-- Modal body will be populated dynamically -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="modalDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>




@* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.2.0/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.2.0/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> *@
<!-- from here links are from the file export-->
@* <script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.print.min.js"></script>
<script src="/_framework/aspnetcore-browser-refresh.js"></script> *@
