@model IEnumerable<CRUD_Training.Models.ProductModel>

<!DOCTYPE html>
<html>
    <head>
        <title>Crud App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.2.0/css/dataTables.bootstrap5.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.0/css/buttons.bootstrap5.min.css">
    </head>
    <body>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header text-center">CRUD APPLICATION</h5>
                    <div class="card-body">
                        <h2 class="card-title text-center">Add Products</h2>
                        <form id="productForm" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row">
                                <!-- Product Name -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text" for="ProductName">Product Name: </span>
                                    <input class="form-control" type="text" id="ProductName" name="ProductName" required />
                                </div>
                                <br />

                                <!-- Product Price -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text" for="ProductPrice">Product Price: </span>
                                    <input class="form-control" type="number" id="ProductPrice" name="ProductPrice" required />
                                </div>

                                <br />

                                <!-- Product Image -->
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="formFile">Product Image: </label>
                                    <input class="form-control" type="file" id="ProductImg" name="ProductImgFile" accept=".png, .jpg, .jpeg" required />
                                </div>

                                <br />
                                <!-- Add Button -->
                                <div class="d-flex justify-content-between">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <button id="submitButton" type="button" class="btn btn-primary">Add Product</button>
                                    </div>
                                    <div class="justify-content-center">
                                        <h3 id="message" class="badge text-bg-dark"></h3>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h2>Products List</h2>

                            <table id="productsTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Product Id</th>
                                        <th>Product Name</th>
                                        <th>Product Price</th>
                                        <th>Product Image</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Dynamically add the data here by ajax-->
                                </tbody>
                                @* -----------Previous Way of Showing Data when using Server Side Request--------- *@
                                @* @foreach (var item in Model)  *@
                                @* {  *@
                                @*     <tr> *@
                                @*         <td>@item.ProductID</td>  *@
                                @*         <td>@item.ProductName</td>  *@
                                @*         <td>@item.ProductPrice</td>  *@
                                @*     </tr>  *@
                                @* } *@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Update Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <!-- Modal body will be populated dynamically -->
                    </div>
                    <div class="modal-footer" id="modalFooter">
                        @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="modalUpdateButton">Save changes</button> *@
                    </div>
                </div>
            </div>
        </div>

        <!--Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="dmodalBody">
                        <!-- Modal body will be populated dynamically -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id="modalDeleteButton">Delete</button>
                    </div>
                </div>
            </div>
        </div>




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/2.2.0/js/dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/2.2.0/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- from here links are from the file export-->
        <script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.bootstrap5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.print.min.js"></script>

        <script src="/_framework/aspnetcore-browser-refresh.js"></script>
        <script>
        
        $(document).ready(function (){
            //------------- ADD PRODUCT USING AJAX (CLIENT SIDE REQUEST)-------------
            $("#submitButton").on("click", function(e){
                e.preventDefault(); //Prevent the default form submission

                //PREVIOUSLY USING OBJECT FOR THE DATA (WHEN NO IMAGE COLUMN)
                // var productData = {
                //     ProductName: $("#ProductName").val(),
                //     ProductPrice: parseInt($("#ProductPrice").val())
                // };

                //Create a formData object
                var formData = new FormData();

                //Append the fields to the FormData object
                formData.append("ProductName", $("#ProductName").val());
                formData.append("ProductPrice", parseInt($("#ProductPrice").val()));


                //Append the file(image) to the FormData object
                var fileInput = $("#ProductImg")[0]; // Access the file input field
                if (fileInput.files.length > 0){
                    formData.append("ProductImgFile", fileInput.files[0]); //Append the first file
                }else {
                    alert("Please select an image. "); //Validate that a file is selected
                    return;
                }

                //AJAX CALL
                $.ajax({
                    url: "/Products/InsertProduct",
                    type:"POST",

                    // contentType:"application/json", //When not using FormData
                    contentType: false, //Tell jQuery not to set the content type header

                    // data: JSON.stringify(productData), //When not using FormData
                    data: formData,

                    processData: false, // Prevent jQuery from processing the FormData object

                    success: function(response){
                        $("#message").html(response.message);
                        $("#productsTable").DataTable().ajax.reload(); // It refreshes the DataTable
                    },
                });
            });
        
            
            // --------- BINDING/INTEGRATING JQUERY DATATABLE-------------
            bindDatatable();

            function bindDatatable() {
            datatable = $('#productsTable')
                .DataTable({
                    //AJAX Call in the Data Table for the Refreshing and Fetching data.
                    "ajax":{
                        "url": "/Products/GetProducts",
                        "type":"GET",
                        "datatype": "json"
                    },
                    "serverSide": false,
                    "processing": true,
                    "searchable": true,
                    "order": [[0, 'asc']],
                    "language": {
                        "emptyTable": "No record found.",
                        "processing":
                            '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                    },
                    dom: 'Bfrtip', // Use 'Bfrtip' for buttons, filter, etc.
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print' // List of buttons to enable
                    ],
                    "columns": [
                        {
                            "data": "productID",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "productName",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "productPrice",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "productImg",
                            "render": function (data) {
                                return `<img src="${data}" alt="Product Image" style="width: 100px; height: auto;" />`;
                            }
                        },
                        {
                            "data": null,
                            "render": function (row) {
                                return `
                                <button class="btn btn-primary btn-edit"
                                    id="editButton"
                                    data-id="${row.productID}"
                                    data-name="${row.productName}"
                                    data-price="${row.productPrice}"
                                    data-img="${row.productImg}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#updateModal">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-delete"
                                    id="deleteButton"
                                    data-id="${row.productID}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                    <i class="fa fa-trash"></i>
                                </button>`;
                            }
                        },
                    ]
                });
            };
            
            
            //------------- UPDATE PRODUCT USING AJAX (CLIENT SIDE REQUEST)-------------
            $(document).on("click",".btn-edit", function(){
                console.log("EDIT BUTTON CLICKED");

                
                const id = $(this).data("id");
                const name = $(this).data("name");
                const price = $(this).data("price");
                const img = $(this).data("img");

                $("#updateModalLabel").text("Edit Product");
                $("#modalBody").html(`
                    <form id="editForm"  enctype="multipart/form-data">
                        <div class="input-group mt-3">
                            <span class="input-group-text" for="editProductID">Product ID: </span>
                            <input class="form-control" type="text" id="editProductID" name="editProductID" value="${id}" disabled />
                        </div>
                        <div class="input-group mt-3" id="productNameDiv">
                            <span class="input-group-text" for="editProductName">Product Name: </span>
                            <input class="form-control" type="text" id="editProductName" name="editProductName" value="${name}" required />
                        </div>
                        <div class="input-group mt-3" id="productPriceDiv">
                            <span class="input-group-text" for="editProductPrice">Product Price: </span>
                            <input class="form-control" type="number" id="editProductPrice" name="editProductPrice" value="${price}" required />
                        </div>
                        <div class="mt-3">
                            <label for="editProductImg" class="form-label mx-2">Product Image: </label>
                            <img src="${img}" alt="Product Image" class="img-fluid mb-2" style="max-width: 100px;">
                            <input type="file" class="form-control" id="editProductImg" name="ProductImgFile">
                        </div>
                    </form>
                `);

                $("#modalFooter").html(`
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="modalUpdateButton">Save changes</button>
                `);

                $("#modalUpdateButton").off("click").on("click", function(){
                    console.log($("#editProductName").val());

                    $(".error-message").remove();

                    const productName = $("#editProductName").val();
                    const productPrice = $("#editProductPrice").val();

                    let raiseError = false;

                    if(productName.length == 0){
                        $("#productNameDiv").after(`<div class="error-message text-danger">Product name is required.</div>`);
                        raiseError = true;
                    }

                    if(productPrice.length == 0){
                        $("#productPriceDiv").after(`<div class="error-message text-danger">Product price is required.</div>`);
                        raiseError = true;
                    }

                    if (raiseError) {
                        return;
                    }

                    //CONDITION IF THE FIELDS ARE EMPTY 
                    // if($("#editProductName").val().length == 0 || $("#editProductPrice").val().length == 0){
                    //     alert("Please fill out all the fields");
                    //     return;
                    // }
                    
                    var formData = new FormData();

                    // Append form fields
                    formData.append("ProductID", $("#editProductID").val());
                    formData.append("ProductName", $("#editProductName").val());
                    formData.append("ProductPrice", $("#editProductPrice").val());

                    // Append file if selected
                    const fileInput = $("#editProductImg")[0];
                    console.log("Checking: ",fileInput.files[0]);
                    console.log("Checking img: ", img);
                    if (fileInput.files.length > 0) {
                        formData.append("ProductImgFile", fileInput.files[0]);
                    }

                    $.ajax({
                       url: "/Products/UpdateProduct",
                       type: "POST",
                       data: formData,
                       contentType: false,
                       processData: false,
                       success: function(response){
                           if(response.success == false){
                               alert(response.message);
                           }else{
                               alert(response.message);
                               $("#productsTable").DataTable().ajax.reload();
                               $("#updateModal").modal("hide");
                           }
                       },
                       error: function (error) {
                            console.error("Error updating product:", error);
                       }
                    });
                });
            });
        
            
            
            //------------- DELETE PRODUCT USING AJAX (CLIENT SIDE REQUEST)-------------
            $(document).on("click",".btn-delete", function(){
                console.log("DELETE BUTTON CLICKED");
                const id = $(this).data("id");

                $("#deleteModalLabel").text("Delete Product");
                $("#dmodalBody").html(`
                    <h3>
                        Confirmation!
                    </h3>
                    <div class="mt-3">
                        Are you sure you want to delete this product?
                    </div>
                `);
                $("#modalDeleteButton").off("click").on("click", function(){
                    $.ajax({
                        url: `/Products/DeleteProduct/${id}`,
                        type: "POST",
                        success: function(response){
                            $("#productsTable").DataTable().ajax.reload();
                            $("#deleteModal").modal("hide");
                        },
                        error: function(error){
                            console.error("Error deleting product:",error);
                        }
                    });
                });
            });
        });        
        
        //------ THIS FUNCTION IS FOR THE FETCHING OF DATA PREVIOUSLY WHEN NOT USING JQUERY DATATABLE LIBRARY
         // function fetchData(){
         //     $(document).ready(function(){
         //        $.ajax({
         //            url: "/Products/GetProducts",
         //            type: "GET",
         //            contentType:"application/json",
         //            success: function(response){
         //                console.log(response);
         //                // first empty the existing table
         //                $("#productsTable tbody").empty();
         //                //fetching and storing data in row variable
         //                response.forEach(function(product){
         //                    var row = `
         //                        <tr>
         //                            <td>${product.productID}</td>
         //                            <td>${product.productName}</td>
         //                            <td>${product.productPrice}</td>
         //                        </tr>
         //                    `;
         //                    //appending the tbody after the data is fetched
         //                    $("#productsTable tbody").append(row);
         //                });
         //            },
         //            error: function(error){
         //                console.error("Error fetching data: ",error)
         //            }
         //        });
         //    });
         // };
         // fetchData();
        </script>

    </body>
</html>




